/* GERAL  */
body {
	background: url("images/bg-ao-meio-final.jpg") #f3f1ee repeat scroll center top;
	 margin: 0;
	 padding: 0;
}

body.page {

    background: url("images/bg-2000-1250.jpg") repeat scroll center top #F3F1EE;
    margin: 0;
    padding: 0;

}

body.home {

	background: url("images/bg-ao-meio-final.jpg") #f3f1ee repeat scroll center top;
	 margin: 0;
	 padding: 0;

}



p {
	line-height: 1.3em;
    margin-bottom: 13px;
}

input[type="text"],
textarea {
	background: #f9f9f9;
	border: 1px solid #999;
	padding: 7px;
}


#separador {
    clear: both;
    position: relative;
    width: 100%;
	}
	
p.destaque {
    color: #111111;
    font-size: 1.6em;
    line-height: 1.2em;
    padding: 0;
    width: 100%;
}

#page .single-page {
    background: url("images/bg-2000-1250.jpg") repeat scroll center right #F3F1EE;
    margin: 0 auto;
    padding: 0;
}

#page.hfeed {
	background: url("images/bg-content-no-meio.jpg") #f3f1ee repeat-y scroll center top;
	 margin: 0 auto;
	 padding: 0;
	 overflow: hidden;
	  max-width: 800px;
    min-height: 400px;
    width: 100%;
}

#page .home {
    background: none;
    margin: 0 auto;
    padding: 0;
}

/* HEADER */


#branding hgroup {
    margin: 0;
}


#logo {
max-width: 300px;
float: right;
margin: 3% 7% 1% 0;
}

#site-title{
	width: 240px;
	height: 180px;
	background: url(images/logo-medio.png) top center no-repeat;
	margin: 12% 0 0 75%;
	text-indent: -99999px;
	
}

#site-title a {
	width: 240px;
	height: 180px;
	float: left;
}

#site-description {
    color: #373737;
    font-size: 13px;
    margin: 0 270px 3.65625em -50px;
}

#intro-bloco {
max-width: 525px;
float: right;
margin-right: 45px;
}

#access {
	background: none repeat scroll 0 0 transparent;
	clear: both;
	display: block;
	float: right;
	margin: 1.7em auto 0;
	width: 100%;
	font-family: 'Source Sans Pro', Arial, Geneva, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}

#access ul {
	list-style: none;
	font-size: 1em;
	font-weight: bold;
	margin: 0 0 0 -0.8125em;
	padding-left: 0;
	float: right;
}

#access li {
	float: left;
	position: relative;
	margin-right: 15px;
}
#access a {
	color: #eee;
	display: block;
	line-height: 2em;
    padding: 1px 1em;
	text-decoration: none;
	background:  none repeat scroll 0 0 #666;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#access ul ul {
	display: none;
	margin: 0;
	position: absolute;
	top: 2.1em;
	left: 5px;
	width: 180px;
	z-index: 99999;
}

#access ul ul a {
	background: #666;
	color: #f1f1f1;
	height: auto;
	line-height: 1.4em;
	font-size: 1em;
	padding: 5px 1em;
	min-width: 70px;
	border-top:1px solid #eee;
	border-radius: 0px !important;
}

#access ul ul ul.sub-menu {
	left: 100%;
	top: 0;
	width: 100%;

}

#access ul ul ul li.menu-item{
	float: left;
	position: relative;
	width: 70px;
}

#access ul ul ul li a{
	color: #EEEEEE;
    display: block;
    line-height: 2em;
    padding: 1px 1em;
    text-decoration: none;

}

#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
	background: #b843a6;
}
#access li:hover > a,
#access a:focus {
	background: #b843a6; /* Show a solid color for older browsers */
	color: #FFF;
}
#access ul li:hover > ul {
	display: block;
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a {
	font-weight: bold;
	background: #b843a6;
}


#menu-redes-sociais {
	height: 34px;
	width: 113px;
	float: right;
    margin-right: 90px;
    margin-top: 20px;
}

a.link_twitter {
   background: url("images/midias-sociais.png") no-repeat scroll 0 0 transparent;
    height: 35px;
    padding: 0 !important;
    position: absolute;
    width: 35px;
}

a.link_twitter:hover {
	background: url("images/midias-sociais.png") no-repeat scroll 0 -43px transparent;
}

a.link_facebook {
   background: url("images/midias-sociais.png") no-repeat scroll -36px 0 transparent;
    height: 35px;
    position: absolute;
    width: 38px;
	padding: 0 !important;
	margin-left: 35px;
}

a.link_facebook:hover {
	background: url("images/midias-sociais.png") no-repeat scroll -36px -43px transparent;
}

a.link_youtube {
   background: url("images/midias-sociais.png") no-repeat scroll -76px 0 transparent;
    height: 35px;
    position: absolute;
    width: 35px;
	padding: 0 !important;
	margin-left: 74px;
}

a.link_youtube:hover {
	background: url("images/midias-sociais.png") no-repeat scroll -76px -43px transparent;
}

#menu-item-382 a {
   background: none repeat scroll 0 0 #b463a8 !important;
}

#menu-item-331 a{
   background: none repeat scroll 0 0 #93aa38 !important;
}

#menu-item-330 a{
   background: none repeat scroll 0 0 #7ed2da !important;
}

#menu-item-380 a{
   background: none repeat scroll 0 0 #e5c511 !important;
}


/* HOME */

#slider-home {

    height: 368px;
    margin: 25px auto 40px;
    width: 760px;
}

#content-uma-coluna {
	margin: 0 34% 0 7.6%;
	width: 85%;
}

/* Botoes Home
-------------------------------------------------------------- */

section.botoes-home {
   display: block;
    float: none;
    margin: 0 auto;
    max-width: 845px;
    width: 100%;
}

h1.portfolio-heading {
	color: #686f66;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height:1em;
	text-transform: uppercase;
	text-align: right;
	border-bottom: 1px solid #686f66;
	margin: 0 1% 2%;
	width: 98%;
}

a.PortfolioAnchor {
text-decoration: none;
}

#botao-web {
	background:#eebc0e;
    float: left;
    margin: 0 2% 2% 0;
    height: 260px;
    padding: 0;
    width: 32%;
}

#botao-web:hover {
background: url("images/text_laranja_pq.jpg") repeat scroll 0 0 #f2cd3e;
}

#botao-design {

	background:#50bfc9;
    float: left;
    margin: 0 2% 2% 0;
    height: 260px;
    padding: 0;
    width: 32%;
}

#botao-design:hover {

	background: url("images/text_azul_pq.jpg") repeat scroll 0 0 #83d4db;
}

#botao-cultura {

	background: #6e8c23;
    float: left;
    height: 260px;
    margin: 0 0 2% 0;
    padding: 0;
    width: 32%;
}

#botao-cultura:hover {
  background: url("images/text_verde_pq.jpg") repeat scroll 0 0 #879D49;
}

span.link-web {
    float: right;
 margin: 100px 20px 0 0;
color: #EEE;
font-size: 4.5em;
font-weight: bold;
text-transform: uppercase;
/* ROTATE */
/* Safari */
-webkit-transform: rotate(-45deg);
/* Firefox */
-moz-transform: rotate(-45deg);
/* IE */
-ms-transform: rotate(-45deg);
/* Opera */
-o-transform: rotate(-45deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	text-shadow: 1px 1px 5px #000000;
    filter: dropshadow(color=#000000, offx=3, offy=3);

}

span.link-web:hover {
text-decoration: none;
color: #FFF;
}

span.link-design {
    float: right;
    font-size: 4em;
    font-weight: bold;
    margin: 100px 0 0;
	color: #EEE;
	text-transform: uppercase;
/* ROTATE */
/* Safari */
-webkit-transform: rotate(-43deg);
/* Firefox */
-moz-transform: rotate(-43deg);
/* IE */
-ms-transform: rotate(-43deg);
/* Opera */
-o-transform: rotate(-43deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	text-shadow: 1px 1px 5px #000000;
    filter: dropshadow(color=#000000, offx=3, offy=3);
}

span.link-design:hover {
text-decoration: none;
color: #FFF;
}


span.link-cultura {
 color: #EEEEEE;
    float: right;
    font-size: 3.8em;
    font-weight: bold;
    margin: 100px 0 0;
    text-transform: uppercase;
/* ROTATE */
/* Safari */
-webkit-transform: rotate(-43deg);
/* Firefox */
-moz-transform: rotate(-43deg);
/* IE */
-ms-transform: rotate(-43deg);
/* Opera */
-o-transform: rotate(-43deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	text-shadow: 1px 1px 5px #000000;
    filter: dropshadow(color=#000000, offx=3, offy=3);
}

span.link-cultura:hover {
text-decoration: none;
color: #FFF;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}

#footer-widget-area ul.children {
display: none;
}

.fb-like {
    float: right;
    margin-right: -3%;
    margin-top: 0.7em;
}

/* PAGE */
#page {
	width: 100%;
	margin: 0 auto;
	min-height: 400px;
	max-width: 900px;
		
}


#page hr, #clientes hr {
	background-color: #666;
}
.left {
	width: 450px;
	float: left;
}

#editar {
	width: 80%;
	height: 25px;
	margin: 10px 0 30px 0;
	clear: both;
}

#editar a {
	text-decoration: none;
	color: #900;
}

#editar a:hover {
	text-decoration: underline;
	color: #333;
}

.entry-title-roxo {
	color: #B843A6;
	font-size: 3em;
	font-weight: bold;
	line-height: 48px;
}

/* FOOTER */

.widget_twitter_timeline {
	margin: 0;
	float: left;
}

.widget_twitter_timeline h3.widget-title{
	background: url("images/twitter_icon.png") no-repeat scroll 0 15px rgba(0, 0, 0, 0);
    border-bottom: 1px solid #CCCCCC;
	color: #FFF;   
	font-size: 1.6em;
    font-weight: bold;
    height: 36px;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0 0 5%;
    padding: 20px 0 0 45px;
    text-transform: uppercase;
}

.widget_quick-flickr-widget {
	margin: 0;
}

.widget_quick-flickr-widget h3.widget-title{
	background: url("images/flickr_icon.png") no-repeat scroll 0 15px rgba(0, 0, 0, 0);
    border-bottom: 1px solid #CCCCCC;
    color: #B843A6;
    font-size: 1.6em;
    font-weight: bold;
    height: 36px;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0 0 4%;
    padding: 20px 0 0 45px;
    text-transform: uppercase;
}

.widget_rss a{
	color:#7ED2DA;
	font-size: 1.1em;
}

.widget_rss {
	margin-top: 5%;
	margin-bottom: 5%;
}

.widget_rss h3.widget-title img {
	display: none;
}

.widget_rss h3.widget-title {
	background: url("images/rss_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #CCCCCC;
    margin: 0 0 3%;
    padding: 0 0 1.6% 45px;
}

.widget_rss h3.widget-title a{
	color: #7ED2DA;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1em;
    text-transform: uppercase;
	height: 50px;
	font-size: 1em !important;
}


#first.widget-area a {
	color:#7ED2DA;
	font-size: 1.1em;
}

#third.widget-area a {
	color:#7ED2DA;
}

#toggle-footer{
    height: 35px;
    background: none repeat scroll 0 0 transparent;
	margin: 0 3%;
}

.slide {
    float:left;
}

.slide-btn {
    width: 95px;
    height: 35px;
    margin: 0 auto;
    display: block;
    color: #fff;
    background:transparent url('images/btn-fechar-v2.png') no-repeat;

}

.slide-btn.active {
    background:transparent url('images/btn-abrir-v2.png') no-repeat;
}


#panel {
    background: none repeat scroll 0 0 transparent;
    min-height: 300px;
    display: block;
    position:relative;
	width: 100%;
}

#content-rodape {
	margin: 0 auto;
    max-width: 900px;
    min-height: 140px;
	color: #FFF;
}

#logo-wordpress {
	float: right;
	background: url(images/wordpress-logo.png) left no-repeat;
	width: 52px;
	height: 52px;
    margin: 0 3% 0 0;
}

.a-logo-wordpress {
	width: 52px;
	height: 52px;
	position: absolute;
}

.logo-cc {
	position: absolute;
	background: url(images/logo-cc.png) left no-repeat;
	width: 25px;
	height: 27px;
	text-indent: -99999px;
	margin-left: 3px; 
}


#dados-footer {
    float: left;
    width: 48%;
	font-size: 1em;
   margin: 0 0 3% 2%;
}

#licenca-footer {
	margin: 0 15px 0 15px;
}

#descricao-footer {
	margin: 0 15px 0 15px;
}

#essencial {

	float: left;
    width: 48%;

}

#frase-footer {
    margin: 15px 15px 0;
	float: right;
	font-size: 1.1em;
}


.welcome_container .one_third{ width:19.66% !important; text-transform: uppercase;}
.welcome_container .two_third{ width:76.33% !important; } 	

a.button{	color: #fff;	background: #009933;	  padding: 4px 12px;	  -moz-border-radius: 3px;	  -webkit-border-radius: 3px;	  border-radius: 3px;	  	  display: inline-block;	  font-size: 11px;	  font-weight: bold;	  text-decoration: none;	  text-transform: capitalize;	  cursor: pointer;	  margin: 5px 0px 20px 0px;	  line-height: 21px; }	  	  	a.button:hover{background: #1b1b1b;}
.welcome_container { position: relative; width: 964px; margin: 0 auto; padding: 0;}
.welcome-box h1{	color: #424242;	font-size: 18px;	line-height: 30px;	font-weight: normal;}
#welcome-box a{background:red;color:#424242; padding: 2px;	border-radius:3px;	-moz-border-radius: 3px;	-webkit-border-radius: 3px;}

/* FLICKR WIDGET */

.quick-flickr-item {
	overflow: hidden;
	width: 80px;
	height: 80px;
	margin: 0 3px 5px;
	opacity:0.75;
	-moz-opacity: 0.75;
	filter: alpha(opacity=75);
	float: left;
}



.quick-flickr-item:hover {
	opacity:0.99;
	-moz-opacity: 0.99;
	filter: alpha(opacity=99);
}




.quick-flickr-item img {
    border: 3px solid white;
    margin: 3px 3px;
    outline: 1px solid #CCCCCC;
	width: 70px;
	height: 70px;
}


/* =ESTRUTURA RESPONSIVA
As informações são acumulativas, o que vocês fez para max. 600px não precisa ser feito de novo para max. 450px.
----------------------------------------------- */

@media (max-width: 800px) {
	/* Simplify the basic layout */
	#main #content {
		margin: 3%;
		width: auto;
	}
	#nav-below {
		border-bottom: 1px solid #ddd;
		margin-bottom: 1.625em;
	}
	#main #secondary {
		float: none;
		margin: 0 7.6%;
		width: auto;
	}
	/* Simplify the showcase template */
	.page-template-showcase-php .featured-posts {
		max-height: 225px;
		
	}
	.featured-posts section.featured-post {
		height: auto;
	}
	.page-template-showcase-php section.recent-posts {
		float: none;
		margin: 0;
		width: 100%;
	}
	.page-template-showcase-php #main .widget-area {
		float: none;
		margin: 0;
		width: auto;
	}
	.page-template-showcase-php .other-recent-posts {
		border-bottom: 1px solid #ddd;
	}
	/* Simplify the showcase template when small feature */
	section.featured-post .attachment-small-feature,
	.one-column section.featured-post .attachment-small-feature {
		border: none;
		display: block;
		float: left;
		height: auto;
		margin: 0.625em auto 1.025em;
		max-width: 30%;
		position: static;
	}
	article.feature-image.small {
		float: right;
		margin: 0 0 1.625em;
		width: 64%;
	}
	.one-column article.feature-image.small .entry-summary {
		height: auto;
	}
	article.feature-image.small .entry-summary p a {
		left: 0;
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
	}
	
	
		article.feature-image.large .entry-title a {
		font-size: 1.9em;
		}

	/* Remove the margin on singular articles */
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular #comments-title {
		width: 100%;
	}
	/* Simplify the pullquotes and pull styles */
	.singular blockquote.pull {
		margin: 0 0 1.625em;
	}
	.singular .pull.alignleft {
		margin: 0 1.625em 0 0;
	}
	.singular .pull.alignright {
		margin: 0 0 0 1.625em;
	}
	.singular .entry-meta .edit-link a {
		left: 0;
		position: absolute;
		top: 40px;
	}
	.singular #author-info {
		margin: 2.2em -8.8% 0;
		padding: 20px 8.8%;
	}
	/* Make sure we have room for our comment avatars */
	.commentlist {
		width: 100%;
	}
	.commentlist > li.comment,
	.commentlist .pingback {
		margin-left: 102px;
		width: auto;
	}
	/* And a full-width comment form */
	#respond {
		width: auto;
	}
	/* No need to float footer widgets at this size */
	#colophon #supplementary .widget-area {
		float: none;
		margin-right: 0;
		width: auto;
		margin-bottom: 5%;
	}
	/* No need to float 404 widgets at this size */
	.error404 #main .widget {
		float: none;
		margin-right: 0;
		width: auto;
	}

}
@media (max-width: 650px) {
	/* @media (max-width: 650px) Reduce font-sizes for better readability on smaller devices */
	body, input, textarea {
		font-size: 13px;
	}
	#site-title a {
		font-size: 24px;
	}
	#site-description {
		font-size: 12px;
	}
	#access ul {
		font-size: 12px;
	}
	article.intro .entry-content {
		font-size: 16pt;
	}
	.entry-title {
		font-size: 1em;
	}

	article.feature-image.large .entry-title a{
		padding: 0;

	}
	
	#access li {
	margin-right: 5px;
	}
	
	
	.featured-posts {
    height: 175px;
}

	.singular .entry-title {
		font-size: 28px;
	}
	.entry-meta {
		font-size: 12px;
	}
	blockquote {
		margin: 0;
	}
	blockquote.pull {
		font-size: 17px;
	}
	/* Reposition the site title and description slightly */
	#site-title {
		padding: 5.30625em 0 0;
	}
	#site-title,
	#site-description {
		margin-right: 0;
	}
	/* Make sure the logo and search form don't collide */
	#branding #searchform {
		top: 1.625em !important;
	}
	/* Floated content doesn't work well at this size */
	.alignleft,
	.alignright {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	/* Make sure the post-post navigation doesn't collide with anything */
	#nav-single {
		display: block;
		position: static;
	}
	.singular .hentry {
		padding: 1.625em 0 0;
	}
	.singular.page .hentry {
		padding: 1.625em 0 0;
	}
	/* Talking avatars take up too much room at this size */
	.commentlist > li.comment,
	.commentlist > li.pingback {
		margin-left: 0 !important;
	}
	.commentlist .avatar {
		background: transparent;
		display: block;
		padding: 0;
		position: static;
	}
	.commentlist .children .avatar {
		background: none;
		left: 2.2em;
		padding: 0;
		position: absolute;
		top: 2.2em;
	}
	/* Use the available space in the smaller comment form */
	#respond input[type="text"] {
		width: 95%;
	}
	#respond .comment-form-author .required,
	#respond .comment-form-email .required {
		left: 95%;
	}
	#content .gallery-columns-3 .gallery-item {
		width: 31%;
		padding-right: 2%;
	}
	#content .gallery-columns-3 .gallery-item img {
		width: 100%;
		height: auto;
	}
	
	#botao-web {
    float: none;
    margin: 0 2% 3% 0;
    height: 125px;
    padding: 0;
    width: 100%;
}

#botao-design {

    float: none;
    margin: 0 2% 3% 0;
    height: 125px;
    padding: 0;
    width: 100%;
}

#botao-cultura {

    float: none;
    height: 125px;
    margin: 0 0 3% 0;
    padding: 0;
    width: 100%;
}


span.link-web {
    float: right;
color: #EEE;
    font-size: 4em;
    font-weight: bold;
    margin: 35px 20px 0 0;
text-transform: uppercase;
/* ROTATE */
/* Safari */
-webkit-transform: rotate(0deg);
/* Firefox */
-moz-transform: rotate(0deg);
/* IE */
-ms-transform: rotate(0deg);
/* Opera */
-o-transform: rotate(0deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);

}

span.link-design {
    float: right;
    font-size: 4em;
    font-weight: bold;
    margin: 35px 20px 0 0;
	color: #EEE;
	text-transform: uppercase;
/* ROTATE */
/* Safari */
-webkit-transform: rotate(0deg);
/* Firefox */
-moz-transform: rotate(0deg);
/* IE */
-ms-transform: rotate(0deg);
/* Opera */
-o-transform: rotate(0deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);

}

span.link-cultura {
 color: #EEEEEE;
    float: right;
    font-size: 4em;
    font-weight: bold;
    margin: 35px 20px 0 0;
    text-transform: uppercase;
/* ROTATE */
/* Safari */
-webkit-transform: rotate(0deg);
/* Firefox */
-moz-transform: rotate(0deg);
/* IE */
-ms-transform: rotate(0deg);
/* Opera */
-o-transform: rotate(0deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);

}

		.featured-posts {
    height: 125px;
	}

	.page-template-showcase-php .featured-posts {
		max-height: 125px;
	}
	

}
@media (max-width: 450px) {
	#content .gallery-columns-2 .gallery-item {
		width: 45%;
		padding-right: 4%;
	}
	#content .gallery-columns-2 .gallery-item img {
		width: 100%;
		height: auto;
	}

	
	section.feature-image.large img {
    display: block;
    height: auto;
    max-width: 115%;
    padding: 0;
    width: auto;
	}
	
	/* Navigation */
		nav .menu li {
			display: none;	
		}
		nav .menu select {
			display: block;	
			background: url('images/select-arrows.png') no-repeat scroll right center #B463A8;
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			padding: 5px 10px;
			margin: 10px auto;
			border: none;
			color: #FFF;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			width: 100%;
			font-family: 'Source Sans Pro', Arial, Geneva, sans-serif;
			font-weight: bold;
		}

}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	body {
		padding: 0;
	}
	#page {
		margin-top: 0;
	}
	#branding {
		border-top: none;
	}
	
	article.feature-image.large .entry-title a {
    font-size: 1.5em;
	}

}
